:root{
    --azulito:rgb(139, 189, 236);
    --azul:rgb(53, 150, 214);
}       
            
            * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url(recursos/background.jpg);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 50px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Borel";
    color: rgb(139, 189, 236);
    font-weight: 100;
    font-size: 25px;
    font-style: normal;
}

.logo {
    margin-left: 50px;
}

.logo img {
    font-weight: bold;
    height: 100px;
    width: 200px;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-row {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    color: var(--azul);
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
    font-family: "Sour Gummy";
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 15px;
    border-color: var(--azulito);
}

.nav {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    margin-bottom: 20px;
    justify-content: center;
}

.nav-item {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--azul);
    font-size: 15px;
    font-family: "borel";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 20px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin-bottom: 15px;
}

.left-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.leftimg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    background-image: url(recursos/cnn2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plot {
    padding: 20px;
    text-align: center;
}

.plot h2 {
    font-family: "borel";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: var(--azulito);
    margin-bottom: 10px;
}
h2 {
    font-family: "borel";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: var(--azulito);
    margin-bottom: 10px;
    
}

p {
   font-family: "Sour Gummy";
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    color: var(--azulito);
    line-height: 1.6;
}

.center-column {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.video{
    width: 650px;
    aspect-ratio: 16/9;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-right: 30px;
}

.info-item {
    border: 2px solid #333;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-title {
    font-family: "borel";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: var(--azulito);
    margin-bottom: 5px;
}

.rightimg {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-image: url(recursos/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}

.friends {
    padding: 15px;
    margin-top: 0;
}

.friend-title {
   font-family: "borel";
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px;
    color: var(--azulito);
    text-align: center;
    font-size: 30px;
}

.friend-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.friend-box1 {
    aspect-ratio: 3/4;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(recursos/mocha.jpg);
    justify-content: center;
    align-items: center;
    align-content: center;
}
.friend-box2 {
    aspect-ratio: 3/4;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(recursos/milk.jpg);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.friend-box3 {
    aspect-ratio: 3/4;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(recursos/chiffon.jpg);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.friend-box4 {
    aspect-ratio: 3/4;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(recursos/cappuccino.jpg);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media (max-width: 1024px) {
    .main-grid {
        grid-template-columns: 1fr;
    }

    .info-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .cast-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}